.item {
  display: inline-block;
  .each-item {
    padding: 10px 14px 10px 14px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: regular;
    text-align: right;
    &:hover {
      background: rgb(63, 62, 62);
      color: black;
      text-decoration: none;
    }
  }
}
